.main{
    background-color: rgb(222, 238, 245);
}

.provider {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding-top: 15px;
}

.header {
    text-align: center;
    margin: 10px;
    padding-top: 15px;
}

.provider-items {
    margin: 10px;
    padding-top: 15px;
    display: inline-block;
    margin-left: 30px;
    flex-direction: row;

    
}

.item {
    flex-basis: 33.33%; 
   
    box-sizing: border-box; 
}

.item img {
    width: 150px; 
    height: 150px;
}
