

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(222, 238, 245);
    border: 1px solid gray;
    border-radius: 15px;
}

.support-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
   margin: 10px;
   padding-right: 20px;
}

.support-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
   margin: 15px;
   padding: 14px;
}

.support-text img {
   height: 120px;
   width: 120px;
   
}

.support-text div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.support-text p, .support-text h3 {
    margin-top: 5px;
}

@media(max-width:900px){
    
.support-text img {
    height: 70px;
    width: 70px;
    
 }
}